
body {
	margin:0;
	padding:0;
}
#container {
	background:#000;
	border: 1px solid #333;
  color: #fff;
  box-shadow:5px 5px 10px #444;
  font-family: monospace;
  font-size: 30px;
  height: 550px;
	margin: 30px auto 0;
	position:relative;
  overflow:hidden;
  width: 510px;
}

.board {
  position: relative;
  top: 40px;
}

.title {
  display: block;
  float: left;
  padding: 0 10px;
}

.score-div {
  display: block;
  float: right;
  padding: 0 10px;
}

.square {
  position:absolute;
  margin: 10px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg)
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1, 1);
  }
  100% {
    transform: rotate(360deg) scale(0, 0);
  }
}

.wiggle {
   animation: wiggle 0.5s;
}

.spin {
  animation: spin 1s;
}